$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #222222;
    color: #f2c462;

    .container {
        padding: 20px 0px;
        width: 460px;
        margin: 0 auto;
        text-align: center;

        .btn {
            padding: 8px;
            margin-top: 12px;
            width: 140px;
            background-color: #f2c462;
            border: none;
            font-size: 18px;
            transition: 0.5s all;

            &:hover {
                cursor: pointer;
                background-color: darken($color: #f2c462, $amount: 20);
            }
        }

        div.filters-container {
            padding: 20px 0px;

            display: flex;

            justify-content: space-between;

            .filter {
                label {
                    font-weight: bold;
                }

                select {
                    margin-left: 4px;
                    padding: 4px;
                }
            }
        }

        section#results {
            display: none;
            margin-top: 40px;

            .results-class {
                margin-bottom: 8px;
                font-size: 30px;
            }

            .results-gem {
                margin-bottom: 8px;
            }

            .results-gem-img-trigger {
                margin-left: 8px;
            }
        }
    }
}

// Example media query for phones
@media screen and (max-width: $phone-width) {
    
}

// Example media query for tablets
@media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {

}

// Example media query for desktops
@media screen and (min-width: $desktop-width) {

}